.back-button-icon{
    font-size: 2.4rem !important;
}
.toastClass{
    text-align: center;
    // background: rgba(0, 0, 0, 0.3)
}
.toast-wrapper{
    background: rgba(0, 0, 0, 0.7) !important;
}
.toast-ios{
    top:34px !important;
}
.toast-wrapper.toast-top{
    top:34px !important;
}